@import "../../../styles/variables.less";
.resp-img {
  max-width: 100% !important;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
  }

  &.popup {
    position: relative;
    .fa-search-plus {
      pointer-events: none;
      padding: 1rem;
      font-size: 1.2rem;
      box-sizing: content-box;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  img.resp-img-popup {
    box-shadow: 0 0px 15px 6px #00000024;
    transition: all ease 0.4s;
    object-fit: scale-down;
    max-height: 100%;
    display: block;
    &:hover {
      box-shadow: 0 0px 15px 6px #00000045;
    }
  }

  .splash-header {
    line-height: 140%;
    text-align: center;
    padding: 1em 2em;
    min-height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
@media screen and (max-width: 1920px) {
}
@media screen and (max-width: @breakPointFirst) and (min-width: @breakPointSecond) {
}
@media screen and (max-width: @breakPointSecond) and (min-width: @breakPointThird) {
}
@media screen and (max-width: @breakPointThird) {
}
