.resp-img {
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}