@defaultPadding: 1rem;

// Fonts
@defaultFont: "Montserrat", sans-serif;
@fontWeightThin: 100;
@fontWeightNormal: 400;
@fontWeightMedium: 500;
@defaultFontWeight: @fontWeightNormal;
@fontSize: 18px;
@textColor: #333;

// Colors
@priceColor: #000;
@campaignColor: #f15424;
@regularPriceColor: #aaa;

// General
@linkColor: #64431a;
@borderColor: #ccc;

// Wrapper
@backgroundColor: #e9e2d9;

// Content
@contentWidth: 1300px;

// Breakpoints
@breakPointDiff: 50px;
@contentWidthBreakFirst: 1280px;
@contentWidthBreakSecond: 920px;
@contentWidthBreakThird: 568px;
@breakPointFirst: (@contentWidth + @breakPointDiff);
@breakPointSecond: (@contentWidthBreakFirst + @breakPointDiff);
@breakPointThird: (@contentWidthBreakSecond + @breakPointDiff);

// Header
@headerBackgroundColor: #e7daca;
@headerTextColor: #333;

// Navbar
@navbarBackgroundColor: #e5ded5;
@navbarTextColor: #333;
