@import "../../../styles/variables.less";
.product-form {
  .grid {
    .column {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  div {
    margin-bottom: 0.5rem;
    font-weight: @fontWeightMedium;
  }
  input {
    margin-bottom: 1rem;
    &.quantity {
      width: 50px;
      padding: 0;
      text-align: center;
      margin-right: 1rem;
    }
  }
}
