@import '../../styles/variables.less';

#header {
    text-align: center;
    padding: @defaultPadding;
    background: var(--headerBackgroundColor);
    color: var(--headerTextColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 101;
 

    img.logo {
        height:100px;
    }
   
    @media screen and (max-width: @breakPointFirst) and (min-width: @breakPointSecond) {
        img.logo { 
            height:80px;
        }
    }
    @media screen and (max-width: @breakPointSecond) and (min-width: @breakPointThird) {
        img.logo {
            height:60px;
            
        }
    }
    @media screen and (max-width: @breakPointThird) {
        position:sticky;
        top:0;
        img.logo {
            height:40px;
        }
    }
}