@import "../../styles/variables.less";

#header {
  text-align: center;
  padding: @defaultPadding;
  background: var(--headerBackgroundColor);
  color: var(--headerTextColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 101;

  .header-box {
    flex: 1 1;
    display: flex;
    justify-content: center;
  }
  .logo-link {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 100px;
      object-fit: scale-down;
    }
  }

  @media screen and (max-width: @breakPointFirst) and (min-width: @breakPointSecond) {
    .logo-link {
      .logo {
        height: 80px;
      }
    }
  }
  @media screen and (max-width: @breakPointSecond) and (min-width: @breakPointThird) {
    .logo-link {
      .logo {
        height: 60px;
      }
    }
  }
  @media screen and (max-width: @breakPointThird) {
    position: sticky;
    top: 0;
    padding: 2vw;
    .logo-link {
      .logo {
        height: 40px;
      }
    }
  }
}
