@import "../../styles/variables.less";

#wrapper {
  height: 100%;
  .pro-sidebar {
    position: fixed;
  }
}
#main {
  background: @backgroundColor;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .main-navigation {
    position: sticky;
    z-index: 10;
    top: 0;
    background: @navbarBackgroundColor;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: @breakPointFirst) and (min-width: @breakPointSecond) {
    }
    @media screen and (max-width: @breakPointSecond) and (min-width: @breakPointThird) {
    }
    @media screen and (max-width: @breakPointThird) {
      display: none;
    }
  }

  #content {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: auto;
  }
}
