@import '../../styles/variables.less';

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: @navbarBackgroundColor;
    z-index: 101;
    transition: ease all 0.3s;
    transform: translateY(-100%);

    &.open {
        z-index: 101;
        transform: translateY(100%);
    }

    .sidebar-container {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        .close-btn {
            padding: @defaultPadding;
            z-index: 101;
            color: #000;
            height: 50px;
            display: flex;
            align-items: center;
            position: sticky;
            top:0;
            font-size: 1.3rem;
            pointer-events: none;
        }
    }
}